Exercise/bin
Exercise/gen
Exercise/project.properties
MediaPlayer/bin
MediaPlayer/gen
MediaPlayer/project.properties
MemHog/bin
MemHog/gen
MemHog/project.properties
ModifySystemTime/bin
ModifySystemTime/gen
ModifySystemTime/project.properties